
.container-detail{
    display: flex;
    justify-content: center;
    height: 800px;
    background-image: url(/src/imagenBody.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    } 
    