.contenedor-categorias{
    height: 1100px;
    background-image: url(/src/imagenBody.png);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    

}



.boton-categoria{
    width: 150px;
    height: 50px;
    border-radius: 2px black;
    color: white;
    background-color:rgb(241, 21, 186);
    font-size: medium;
    margin-left: 2em;
}





.img{
   
   
    width: 200px;
  
   
    
}


.card-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.div{
    width: 18%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #9d00ff;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 4em 0 4em 2em;
    transition: 0.2 ease;
    height:370px;
    display: flex;
    flex-direction: column;
    background-color: #f7dafd;
    align-items: center;
    
}
