

    .imagen-detail{
        width:300px;
        
        
    }

    .titulo-cuadros{
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: x-large;

    }

    .precio{
        text-align: center;
    }

    .boton{
        width: 50px;
    height: 40px;
    border-radius: 2px black;
    color: white;
    background-color:rgb(241, 21, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration:none;
    position:static;
    font-size: medium;
    margin-top: 230px;


    
    }

    .contenido-cuadros {
        text-align: center;
        font-size: medium;
        font-weight: bold;
        font-style:initial;
    }

    .precio{
        text-align: center;
        font-size: medium;
        font-weight: bold;
        font-style:initial;
        margin-top: 15px;
        
    }

    .contenido-id{
        text-align: center;
        font-size: medium;
        font-weight: bold;
        font-style:initial;
    }

    /* boton contador de cantidad de productos agregados*/


    .counter{

        background-color: red;
display: inline-block;
justify-content:start;
flex-direction:row;
justify-content: space-between;


    }

    .contadorItemDetail{
        display: flex;
        
    }